#outerPadding {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

textarea {
    box-sizing: border-box;
    padding: 5px;

    max-height: 100%;
    line-height: 15px;

    font-size: 15px;
    font-family: 'Source Code Pro', monospace;
    color: white;

    background-color: #303132;
    outline: none;
    border-color: #303132;

    resize: none;

    tab-size: 3;

}

button {
    margin-right: 10px;

}

#code {
    width: 100%;
    height: 80%;
    margin: 0;
}

#console {
    width: 100%;
    height: 18%;

    margin-top: 8px;
}

#dragbar {
    float: right;

    height: 100%;
    width: 10px;

    background-color: #1E1F21;
    cursor: col-resize;
}

svg {
    cursor: crosshair;
    width: 100%;
    height: calc(100% - 80px);
}

#coords {
    position: relative;
    margin-bottom: 0px;
    margin-top: 0px;
    float: right;

    font-size: 15px;
    font-family: 'Source Code Pro', monospace;
    color: white;
}

#slider {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    float: none;
    appearance: none;

    border-radius: 15px;

    width: 80%;
    height: 80%;

}

#playPause {
    height: 80%;
    width: auto;
    vertical-align: middle;
    margin-right: 1pc;
}

button {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    border-radius: 5px;
    border: 2px;
    
}

#download {}
