#viewContainer {
    position: relative;
    text-align: center;
    
    height: 100%;
    width: 75%;
    min-width: 50%;

    overflow-y: hidden;
}
.toolbar {
    vertical-align: middle;
    text-align:left;
    
    background-color: #303132;
    box-sizing: border-box;
    padding: 10px;
    
    min-height: 40px;
    min-width: 930px;
}

#buttonBar {
    display: inline-block;
    position: relative;

    width: 100%;
    height: 5%;
}

#svgContainer{
    overflow: scroll;
    position: relative;
    
    width: 100%;
    min-width: 930px;
    height: 85%;
}

#svgBorder {
    width: auto;
    height: auto;
    position: absolute;
    top: calc(50%);
    left: 50%;
    text-align: center;
    box-shadow: 0 0 30px 0px #000000;
    transform: translate(-50%, -50%);
    
}

#sliderBar {
    position: relative;
    display: inline-block;
    opacity: 1;
    transition: .3s;

    margin-left: auto;
    margin-right: auto;
    
    height: 10%;
    width: 100%;
    min-width: 930px;
    text-align: center;    
    
}

.row {
    display: table-row;
}

#consoleContainer {

    width: 100%;
    height: 10%;
    align-items: center;

    margin-top: 5px;
    margin-bottom: 5px;
    margin: 5px;

}

#textContainer {
    position: relative;

    height: 100%;
    width: 25%;
    min-width: 250px;
    max-width: 50%;


    background-color: #1E1F21;
}

body {
    margin: 0;
    padding: 0;

    overflow-y: hidden;
    overflow-x: hidden;

}

#all {
    display: flex;
    position: absolute;

    overflow: auto;

    width: 100%;
    height: 100%;
    margin: 0;

    padding: 0;
}

#view {
    position: absolute;

    bottom: 0px;
    top: 0px;
    right: 0px;
    left: 0px;

    overflow: hidden;
}

#text {
    position: absolute;

    margin: 10px;

    bottom: 0px;
    top: 0px;
    right: 0px;
    left: 0px;
}
