body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    
}

#all {
    display: absolute;
    width: 100%;
    height: 100%;
    background-color: #625e55; 
    
}

textarea{
    padding: 5px;
    line-height: 15px;
    
    font-size: 15px;
    font-family: 'Source Code Pro', monospace;
    color: white;
    
    background-color: #303132;
    outline: none;
    border-color: #303132;
    
    resize: none;
    max-height: 100%;
    
}

#textContainer {
    display: block;
    position: absolute;
    bottom: 0px;
    top: 0px;
    background-color: #1E1F21;

}

.child{
    display:inline;
}

#code {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 400px;
    height: 85%;
    resize: none;
}

#numbers {
    width: 20px;
    height: 85%;
    margin: 5px;
    margin-right: 0px;
}

#tools {
    
    
    width: auto;
    height: 10%;
    align-items: center;
    
    margin-top: 5px;
    margin-bottom: 5px;
    margin: 5px;
    
    background-color: #303132;
}

#run {
    position: relative;
    
    width: 40px;
    height: 40px;
    margin-left: 30px;
    margin: 5px;
    
    background-color: lawngreen;
    border-color: black;
    font-size: 30px;
}


#viewContainer {
    position: absolute;
    margin: 30px;
    top: 60px;
    bottom: 0px;
}

#console {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    display: none;
}
