body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    
}

#all {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
}

textarea{
    padding: 5px;
    line-height: 15px;
    
    font-size: 15px;
    font-family: 'Source Code Pro', monospace;
    color: white;
    
    background-color: #303132;
    outline: none;
    border-color: #303132;
    
    resize: none;
    
    max-height: 100%;
    
}

#textContainer {
    position: relative;
    
    height: 100%;
    min-width: 415px;
    max-width: 40%;
    
    background-color: #1E1F21;

}

.child{
    display:inline;
}

#code {
   
    width: 350px;
    min-width: 350px;
    height: 85%;
    
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    
    resize: horizontal;
    
}

#numbers {
    width: 20px;
    height: 85%;
    margin: 5px;
    margin-right: 0px;
}

#run {
    position: relative;
    
    width: 40px;
    height: 40px;
    margin-left: 30px;
    margin: 5px;
    
    background-color: lawngreen;
    border-color: black;
    font-size: 30px;
}

#viewContainer {
    position: relative;
    
    height: auto;
    min-height: 0;
    width: auto;
    min-width: 0;
    overflow: auto;
    
    margin: 30px;

}

.svg {
    width: auto;
    height: auto;
    
}

#consoleContainer {
    
    
    width: auto;
    height: 10%;
    align-items: center;
    
    margin-top: 5px;
    margin-bottom: 5px;
    margin: 5px;

}

#console {
    display: block;
    margin: auto;
    width: 95%;
    height: 85%;
    overflow-y: auto;
    overflow-x: none;
}

#numbers::-webkit-scrollbar {
    display: none;
}
